/*-- scss:defaults --*/

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/MerriweatherBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/MerriweatherRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: "Merriweather", sans-serif, !default;
$presentation-heading-font: "Merriweather", sans-serif, !default;

$body-bg: #F8F8FF !default;

$presentation-font-size-root: 28px !default;

/*-- scss:rules --*/

#title-slide {
  .title {
    font-size: 2*$presentation-font-size-root;
    padding-bottom: 1em;
  }
}

.reveal h2 {
  padding-bottom: 0.5em;
}

.reveal h3 {
  font-size: 1.1*$presentation-font-size-root;
  padding: 0.25em;
}
